.main-nav {
  text-transform: uppercase;
  display: flex;
  justify-content: flex-start;
  position: fixed;
  background-color: $color-white;
  width: 100%;
  z-index: 99;

  .container-large {
    display: flex;
    padding-bottom:0;
  }

  img {
    width: 60px;
    height: fit-content;
  }

  .nav-ul {
    margin-top: 0;
    list-style-type: none;
    display: flex;
  }

  .nav-li {
    padding: 15px;
  }

  .nav-a {
    text-decoration: none;
    color: $secondary-color;
    font-size: $main-font-size;
  }

  .fas {
    font-size: 30px;
    display: none;
    color: $primary-color;
  }

  @media (max-width: $small) {
    width: 100%;
    line-height: 50px;
    justify-content: space-between;
    padding-bottom: 10px;

    .nav-hamburger {
      margin-left: auto;
    }

    .fas {
      display: flex;
      line-height: 50px;
    }

    .nav-ul {
      display: block;
      margin-top: 20px;
    }

    .nav-menu {
      background-color: $primary-color;
      text-align: end;
      position: absolute;
      top: 0;
      right: 0;
      width: 80%;
      display: none;
      box-shadow: 0 10px 50px #f0f0f0;

      &.opened {
        display: block;
      }

      a,
      .fa-times {
        color: $color-white;
        font-size: 30px;
      }

      .fa-times {
        justify-content: flex-end;
        padding: 0px 20px;
      }
    }
  }
}
