.main-nav {
  text-transform: uppercase;
  display: flex;
  justify-content: flex-start;

  .nav-logo img {
    width: 60px;
  }

  .nav-ul {
    margin-top: 0;
    list-style-type: none;
    display: flex;
  }

  .nav-li {
    padding: 15px;
  }

  .nav-a {
    text-decoration: none;
    color: $secondary-color;
    font-size: $main-font-size;
  }

  .fas {
    font-size: 30px;
    display: none;
    color: $primary-color;
  }

  @media (max-width: $small) {
    width: 100%;
    padding: 20px;
    line-height: 50px;
    justify-content: space-between;

    .fas {
      display: flex;
    }

    .nav-ul {
      display: block;
      margin-top: 20px;
    }

    .nav-menu {
      background-color: $primary-color;
      text-align: end;
      position: absolute;
      top: 0;
      right: 0;
      width: 80%;
      display: none;

      &.opened {
        display: block;
      }

      a,
      .fa-times {
        color: $color-white;
        font-size: 30px;
      }

      .fa-times {
        justify-content: flex-end;
        padding: 0px 20px;
      }
    }
  }
}
