.photo-box {
  position: relative;

  .team-data {
    width: 80%;
    position: absolute;
    bottom: -120px;
    left: 0;
    right: 0;
    margin: auto;
    background-color: $color-white;

    &:hover {
      padding-bottom: 40px;
      margin: 0 auto;
      box-shadow: 0 10px 40px #f0f0f0;
    }
  }
}

