* {
  box-sizing: border-box;
  transition: 0.3s;
}

body {
  font-family: $primary-font;
  color: $primary-text-color;
}

section {
  text-align: center;
  padding: 30px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $secondary-font;
  color: $secondary-color;
}

h2 {
  font-size: $section-header-font-size;
}

a {
  display: inline-block;
  margin: 10px 0;
}

p {
  line-height: 1.5;

  &.section-description {
    font-weight: 300;
    color: $secondary-text-color;
  }
}

.container {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 20px 25px;
}

.container-large {
  width: 70%;
  margin: 0 auto;
  padding: 20px 0;

  @media (max-width: $small) {
    width: 100%;
    padding: 20px;
  }
}

.row {
  @include flexbox;
}

.col-3 {
  width: 33%;
  padding: 5px;

  @media (max-width: $small) {
    width: 100%;
  }
}

.box {
  padding: 10px;
  border: 1px solid #e2e5ea;

  &:hover {
    box-shadow: 0 10px 40px #f0f0f0;
  }

  img {
    width: 100%;
  }
}

.photo-box {
  padding: 0;
  border: 0;
}


