/* Fonts */
$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Bellota', cursive;

$main-font-size: 16px;
$section-header-font-size: 42px;
$main-header-font-size: 50px;
$title-font-size: 22px;

/* Colors */
$primary-color: #1ba4ce;
$secondary-color: #473452;

$button-color: #1e2528;

$color-white: #fff;

$primary-text-color: #888888;
$secondary-text-color: #555555;

/* Mobile breakpoints */
$extra-small: 480px;
$small: 576px;
$medium: 768px;
$large: 922px;
$extra-large: 1200px;